altgraph==0.17.2
beautifulsoup4==4.10.0
blessings==1.7
bpython==0.22.1
bs4==0.0.1
certifi==2021.10.8
charset-normalizer==2.0.10
curtsies==0.3.10
cwcwidth==0.1.6
greenlet==1.1.2
idna==3.3
lxml==4.7.1
macholib==1.16
markdownify==0.10.2
Pygments==2.11.2
pyinstaller==5.0.1
pyinstaller-hooks-contrib==2022.4
pyxdg==0.27
requests==2.27.1
six==1.16.0
soupsieve==2.3.1
tqdm==4.62.3
typing_extensions==4.0.1
urllib3==1.26.8
