asgiref==3.4.1
beautifulsoup4==4.10.0
bs4==0.0.1
certifi==2021.10.8
charset-normalizer==2.0.9
Django==4.0
easyocr==1.4.1
idna==3.3
image==1.5.33
imageio==2.9.0
lxml==4.7.1
markdownify==0.10.1
networkx==2.6.3
numpy==1.21.4
opencv-python-headless==4.5.4.60
packaging==21.3
Pillow==8.2.0
pyparsing==3.0.6
python-bidi==0.4.2
PyWavelets==1.2.0
PyYAML==6.0
requests==2.26.0
six==1.16.0
soupsieve==2.3.1
sqlparse==0.4.2
tifffile==2021.11.2
tqdm==4.62.3
typing-extensions==4.0.1
urllib3==1.26.7
